{% extends "layouts/lower.twig" %}

{% block lower_content %}
  <main class="">
    <div class="container">
      <p>あなたがアクセスしようとしたページは削除されたかURLが変更されているため、見つけることができませんでした。</p>
    </div>
  </main>
{% endblock %}
