{% extends "layouts/lower.twig" %}

{% block lower_content %}
  <main class="">
    <div class="container">
      <article class="">
        <date class="">{{ post.post_date|date('Y/m/d') }}</date>
        <h1 class="">
          {{ post.title }}
        </h1>
        <div class="entry-content">
          {{ post.content }}
        </div>
      </article>
    </div>
  </main>
  <a href="{{ function('get_post_type_archive_link', 'post') }}" class="">
    記事の一覧へ{% include "components/icon.twig" with {name:'arrow-alt', class:'inline-icon ml-2 w-4'} %}
  </a>
{% endblock %}
